## 导入原始数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 交易记录
transaction = pd.read_excel("data.xlsx")
transaction

,Unnamed: 0,trans_hash,blockNumber,from_balances,Froms,gas,gasPrice,input,nonce,Tos,Amount,to_balances,froms_new,tos_new
0,1738,0xdcf3187e2c7e0a4fc7a1d93d50913f5c43ba68e24e04...,6255810,6.850000e+14,0x164911c2B21319007C46537D12B54bD2c8A51254,21000,41000000000,0x,13,0xB3bf9e759C859a63176FEaA2244517b2C9309EDB,5.239473e+17,0.000000e+00,0x164911c2b21319007c46537d12b54bd2c8a51254,0xb3bf9e759c859a63176feaa2244517b2c9309edb
1,23479,0x3a3f6c867b842f703937fca474ff79ed82f2fea365e1...,5762706,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,99000000000,0x,4,0xae995C1A9983dC8AC4ce7f3e558F9C6997E0C1a7,2.000000e+18,8.482780e+17,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xae995c1a9983dc8ac4ce7f3e558f9c6997e0c1a7
2,23480,0xa85fd194d277bd2d2d3845a1e7dbde04a81ffdf6a9ee...,10700788,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,25,0xDf9191889649C442836ef55De5036a7b694115b6,4.460856e+20,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6
3,23481,0x2dbe1f701a04a7672fabff74d618de327e643b2d88b3...,10700765,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,24,0xDf9191889649C442836ef55De5036a7b694115b6,1.000000e+21,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6
4,23482,0x827ee54947c6a81a413b4a5cd31b4743745efca4b8aa...,10699833,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,23,0xDf9191889649C442836ef55De5036a7b694115b6,1.000000e+21,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77676,273065,0x2af92c11aa5c57b8cf053ecabc08f45ffc995bb3744c...,4277388,5.966707e+16,0xd94c9ff168dc6aEbf9b6CC86dEfF54f3fb0AFC33,90000,50000000000,0x,373097,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,3.165896e+17,9.309536e+17,0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc33,0x79670903c85fa8136f9f18ee003023b6ddf0beb4
77677,273066,0x9ca4ce83a5f954dfb6f085493845894839ed6422dd96...,4272300,1.044253e+17,0xA1a74107ec5252363A248645C3E143AAa8a5669E,25201,1000000000,0x,17,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.000000e+19,9.309536e+17,0xa1a74107ec5252363a248645c3e143aaa8a5669e,0x79670903c85fa8136f9f18ee003023b6ddf0beb4
77678,273068,0x02ca2e8d909dc7ed54d4d6a902b9ced562c8f5ee9fb2...,4245096,2.540199e+15,0x6E779a512B35E116a83eD0C0757f8C0FBd942f56,90000,50000000000,0x,19076,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.999730e+19,9.309536e+17,0x6e779a512b35e116a83ed0c0757f8c0fbd942f56,0x79670903c85fa8136f9f18ee003023b6ddf0beb4
77679,273069,0x607a6a733902f916e6a4a66f940defd792d4b597f659...,4240763,2.540199e+15,0x6E779a512B35E116a83eD0C0757f8C0FBd942f56,90000,24664144555,0x,3708,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.999730e+19,9.309536e+17,0x6e779a512b35e116a83ed0c0757f8c0fbd942f56,0x79670903c85fa8136f9f18ee003023b6ddf0beb4
77680,377637,0xab9d2df7d761b7f8de48f01ffdf5f04aae4bd3c96e69...,11563799,2.925188e+16,0x4fBdF7fB3b94DAC6eF095C0d2572d7c1d05ebCF6,21000,51000001459,0x,251,0x12227DFe5363cbE55919e230653810de0fF317e2,1.024691e+17,4.470771e+17,0x4fbdf7fb3b94dac6ef095c0d2572d7c1d05ebcf6,0x12227dfe5363cbe55919e230653810de0ff317e2

In [3]:
gas = transaction['gas']
gasPrice = transaction['gasPrice']

In [4]:
# 根据gas*gasprice得到交易手续费，即trans_fee
trans_fee = []
for i in range(len(transaction['Froms'])):
    trans_fee.append(gas[i]*gasPrice[i])
len(trans_fee)

77681

In [5]:
transaction['trans_fee'] = trans_fee
df = transaction
df

,Unnamed: 0,trans_hash,blockNumber,from_balances,Froms,gas,gasPrice,input,nonce,Tos,Amount,to_balances,froms_new,tos_new,trans_fee
0,1738,0xdcf3187e2c7e0a4fc7a1d93d50913f5c43ba68e24e04...,6255810,6.850000e+14,0x164911c2B21319007C46537D12B54bD2c8A51254,21000,41000000000,0x,13,0xB3bf9e759C859a63176FEaA2244517b2C9309EDB,5.239473e+17,0.000000e+00,0x164911c2b21319007c46537d12b54bd2c8a51254,0xb3bf9e759c859a63176feaa2244517b2c9309edb,861000000000000
1,23479,0x3a3f6c867b842f703937fca474ff79ed82f2fea365e1...,5762706,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,99000000000,0x,4,0xae995C1A9983dC8AC4ce7f3e558F9C6997E0C1a7,2.000000e+18,8.482780e+17,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xae995c1a9983dc8ac4ce7f3e558f9c6997e0c1a7,2079000000000000
2,23480,0xa85fd194d277bd2d2d3845a1e7dbde04a81ffdf6a9ee...,10700788,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,25,0xDf9191889649C442836ef55De5036a7b694115b6,4.460856e+20,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6,6048000000000000
3,23481,0x2dbe1f701a04a7672fabff74d618de327e643b2d88b3...,10700765,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,24,0xDf9191889649C442836ef55De5036a7b694115b6,1.000000e+21,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6,6048000000000000
4,23482,0x827ee54947c6a81a413b4a5cd31b4743745efca4b8aa...,10699833,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,23,0xDf9191889649C442836ef55De5036a7b694115b6,1.000000e+21,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6,6048000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77676,273065,0x2af92c11aa5c57b8cf053ecabc08f45ffc995bb3744c...,4277388,5.966707e+16,0xd94c9ff168dc6aEbf9b6CC86dEfF54f3fb0AFC33,90000,50000000000,0x,373097,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,3.165896e+17,9.309536e+17,0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc33,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,4500000000000000
77677,273066,0x9ca4ce83a5f954dfb6f085493845894839ed6422dd96...,4272300,1.044253e+17,0xA1a74107ec5252363A248645C3E143AAa8a5669E,25201,1000000000,0x,17,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.000000e+19,9.309536e+17,0xa1a74107ec5252363a248645c3e143aaa8a5669e,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,25201000000000
77678,273068,0x02ca2e8d909dc7ed54d4d6a902b9ced562c8f5ee9fb2...,4245096,2.540199e+15,0x6E779a512B35E116a83eD0C0757f8C0FBd942f56,90000,50000000000,0x,19076,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.999730e+19,9.309536e+17,0x6e779a512b35e116a83ed0c0757f8c0fbd942f56,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,4500000000000000
77679,273069,0x607a6a733902f916e6a4a66f940defd792d4b597f659...,4240763,2.540199e+15,0x6E779a512B35E116a83eD0C0757f8C0FBd942f56,90000,24664144555,0x,3708,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.999730e+19,9.309536e+17,0x6e779a512b35e116a83ed0c0757f8c0fbd942f56,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,2219773009950000
77680,377637,0xab9d2df7d761b7f8de48f01ffdf5f04aae4bd3c96e69...,11563799,2.925188e+16,0x4fBdF7fB3b94DAC6eF095C0d2572d7c1d05ebCF6,21000,51000001459,0x,251,0x12227DFe5363cbE55919e230653810de0fF317e2,1.024691e+17,4.470771e+17,0x4fbdf7fb3b94dac6ef095c0d2572d7c1d05ebcf6,0x12227dfe5363cbe55919e230653810de0ff317e2,1071000030639000

In [6]:
# # 根据input剔除交易记录中含有智能合约的交易
# df = transaction.drop(transaction[(transaction.input != '0x' )].index)
# len(df)
# df

## 统计两个相同之间的交易次数和金额，交易时间

#### 交易金额、交易次数求和
#### 求交易时间间隔

In [7]:
froms = df['Froms']
tos = df['Tos']

In [8]:
froms = [i.lower() for i in froms]
tos = [i.lower() for i in tos]

In [9]:
# 所有交易信息
lista = []
for i in range(len(froms)):
    lista.append(froms[i]+tos[i])
print(lista[0])
len(lista)

0x164911c2b21319007c46537d12b54bd2c8a512540xb3bf9e759c859a63176feaa2244517b2c9309edb

77681

In [10]:
df['from_to'] = lista
df

,Unnamed: 0,trans_hash,blockNumber,from_balances,Froms,gas,gasPrice,input,nonce,Tos,Amount,to_balances,froms_new,tos_new,trans_fee,from_to
0,1738,0xdcf3187e2c7e0a4fc7a1d93d50913f5c43ba68e24e04...,6255810,6.850000e+14,0x164911c2B21319007C46537D12B54bD2c8A51254,21000,41000000000,0x,13,0xB3bf9e759C859a63176FEaA2244517b2C9309EDB,5.239473e+17,0.000000e+00,0x164911c2b21319007c46537d12b54bd2c8a51254,0xb3bf9e759c859a63176feaa2244517b2c9309edb,861000000000000,0x164911c2b21319007c46537d12b54bd2c8a512540xb3...
1,23479,0x3a3f6c867b842f703937fca474ff79ed82f2fea365e1...,5762706,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,99000000000,0x,4,0xae995C1A9983dC8AC4ce7f3e558F9C6997E0C1a7,2.000000e+18,8.482780e+17,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xae995c1a9983dc8ac4ce7f3e558f9c6997e0c1a7,2079000000000000,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de0xae...
2,23480,0xa85fd194d277bd2d2d3845a1e7dbde04a81ffdf6a9ee...,10700788,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,25,0xDf9191889649C442836ef55De5036a7b694115b6,4.460856e+20,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6,6048000000000000,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de0xdf...
3,23481,0x2dbe1f701a04a7672fabff74d618de327e643b2d88b3...,10700765,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,24,0xDf9191889649C442836ef55De5036a7b694115b6,1.000000e+21,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6,6048000000000000,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de0xdf...
4,23482,0x827ee54947c6a81a413b4a5cd31b4743745efca4b8aa...,10699833,0.000000e+00,0xF6884686a999f5ae6c1AF03DB92BAB9c6d7DC8De,21000,288000000000,0x,23,0xDf9191889649C442836ef55De5036a7b694115b6,1.000000e+21,0.000000e+00,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de,0xdf9191889649c442836ef55de5036a7b694115b6,6048000000000000,0xf6884686a999f5ae6c1af03db92bab9c6d7dc8de0xdf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77676,273065,0x2af92c11aa5c57b8cf053ecabc08f45ffc995bb3744c...,4277388,5.966707e+16,0xd94c9ff168dc6aEbf9b6CC86dEfF54f3fb0AFC33,90000,50000000000,0x,373097,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,3.165896e+17,9.309536e+17,0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc33,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,4500000000000000,0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc330x79...
77677,273066,0x9ca4ce83a5f954dfb6f085493845894839ed6422dd96...,4272300,1.044253e+17,0xA1a74107ec5252363A248645C3E143AAa8a5669E,25201,1000000000,0x,17,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.000000e+19,9.309536e+17,0xa1a74107ec5252363a248645c3e143aaa8a5669e,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,25201000000000,0xa1a74107ec5252363a248645c3e143aaa8a5669e0x79...
77678,273068,0x02ca2e8d909dc7ed54d4d6a902b9ced562c8f5ee9fb2...,4245096,2.540199e+15,0x6E779a512B35E116a83eD0C0757f8C0FBd942f56,90000,50000000000,0x,19076,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.999730e+19,9.309536e+17,0x6e779a512b35e116a83ed0c0757f8c0fbd942f56,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,4500000000000000,0x6e779a512b35e116a83ed0c0757f8c0fbd942f560x79...
77679,273069,0x607a6a733902f916e6a4a66f940defd792d4b597f659...,4240763,2.540199e+15,0x6E779a512B35E116a83eD0C0757f8C0FBd942f56,90000,24664144555,0x,3708,0x79670903c85fA8136f9F18EE003023B6DDF0bEB4,1.999730e+19,9.309536e+17,0x6e779a512b35e116a83ed0c0757f8c0fbd942f56,0x79670903c85fa8136f9f18ee003023b6ddf0beb4,2219773009950000,0x6e779a512b35e116a83ed0c0757f8c0fbd942f560x79...
77680,377637,0xab9d2df7d761b7f8de48f01ffdf5f04aae4bd3c96e69...,11563799,2.925188e+16,0x4fBdF7fB3b94DAC6eF095C0d2572d7c1d05ebCF6,21000,51000001459,0x,251,0x12227DFe5363cbE55919e230653810de0fF317e2,1.024691e+17,4.470771e+17,0x4fbdf7fb3b94dac6ef095c0d2572d7c1d05ebcf6,0x12227dfe5363cbe55919e230653810de0ff317e2,1071000030639000,0x4fbdf7fb3b94dac6ef095c0d2572d7c1d05ebcf60x12...

In [11]:
grouped = df.groupby('from_to')

In [12]:
address = list(grouped.groups)# 获取分组地址
value = list(grouped['Amount'].sum())# 交易金额求和
time_inter = list(grouped['blockNumber'].max()-grouped['blockNumber'].min())# 时间间隔
fee = list(grouped['trans_fee'].sum())# 交易费用求和
count = list(grouped['from_to'].count())# 交易次数
from_balance = list(grouped['from_balances'].sum()) # 求余额之和
to_balance = list(grouped['to_balances'].sum())

In [13]:
from_ad = []
to_ad = []
for ad in address:
    from_ad.append(ad[0:42])
    to_ad.append(ad[42:])

In [14]:
data_final = pd.DataFrame()
data_final['from_ad'] = from_ad
data_final['to_ad'] = to_ad
data_final['value'] = value
data_final['time_inter'] = time_inter
data_final['fee'] = fee
data_final['count'] = count
data_final['from_balance'] = from_balance
data_final['to_balance'] = to_balance
data_final

,from_ad,to_ad,value,time_inter,fee,count,from_balance,to_balance
0,0x000000dddf744faf20df1cebf5f4433707717042,0x0344d3fecda48b181d99a0b7d875d957aa12369c,1.240000e+17,103,7.518000e+15,4,1.473367e+16,0.000000e+00
1,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x453269958c3cab96ecc57160b7708ae62b9d9503,5.000000e+16,0,1.764000e+14,1,0.000000e+00,0.000000e+00
2,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x5255af074be641dc059db7d964f3475fe34fee51,7.637857e+17,51960,2.555700e+15,8,0.000000e+00,3.209720e+15
3,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xa2e5e6478d553cb99ef6d388310aa44ee15fbbee,1.700000e+17,0,5.880000e+14,1,0.000000e+00,1.730000e+11
4,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xdd2f57b1c90331f8377727e0fcb224429f49c388,6.400000e+16,0,5.040000e+14,1,0.000000e+00,2.800000e+10
...,...,...,...,...,...,...,...,...
33572,0xffef21f00db6ecca534cea685711a85edc264ae2,0x6e59a921a269878313129d9c7c7db1718cb0707b,1.132841e+17,0,4.620000e+14,1,0.000000e+00,0.000000e+00
33573,0xfff243e0e3691536009fbcc66b44808fc57f1b60,0x122c7f492c51c247e293b0f996fa63de61474959,1.750000e+17,0,5.040000e+14,1,5.425211e+15,1.614000e+16
33574,0xfff61dae75ea96bf8985dd5de0ea3965ffb8c02c,0x645a58a563ab8c94207e8faea54bcb97e02d23c9,6.066975e+15,0,2.310000e+14,1,0.000000e+00,0.000000e+00
33575,0xfff7f2941f8141850e007ebcc03587c66a6bea11,0x37e30fee740928e8db15d3dafd544baab6b87051,4.286519e+16,0,6.300000e+13,1,0.000000e+00,0.000000e+00
33576,0xfffd0434d56bb35e8f3c7e337022cfbd370a240c,0x3de08b35c0e7f255f37a5dace9bd8eb78e99e985,1.000000e+17,0,4.410000e+14,1,3.581224e+16,0.000000e+00

## 增加标签

In [15]:
account = pd.read_excel("address.xlsx")
account

                                          adress  Txncount  label
0     0xe0e1df65a64c5ae18b86463e30e96d1a657e42c4       100      1
1     0x9205ddb511303ab460698085fdaac7a81cbd93d4       100      1
2     0x39d80d7de4345821b6691ee6d71347323a8178c9       100      1
3     0x91af8014a7f74ab1cf1eedb0aa96f58dced95f38        99      1
4     0x84d2a64cf2c0b1b4a65925dc0b1a20f42fe6104f        99      1
...                                          ...       ...    ...
1142  0xD31728FD8B4Ba649502e872D33849522821CB69e        99      0
1143  0x6261F012fB3EDd3510736a486B0108ccCb97Bc92        99      0
1144  0xB516137b075770b0f99b75017ae8DB34E3602307       100      0
1145  0x500D7AE3dBEe4CbA494e2683Ad2e6fC6F21F0c06       100      0
1146  0x7D744F6a22e63D370015991Aae331F53e43aA09E       100      0

[1147 rows x 3 columns]

In [16]:
adress = list(account['adress'])
adress = [i.lower() for i in adress]
label = list(account['label'])

In [17]:
from_label = []
for ad in data_final['from_ad']:
    if ad in adress:
        index = adress.index(ad)
        from_label.append(label[index])
    else:
        from_label.append(2)
print(len(from_label))

33577

In [18]:
to_label = []
for ad in data_final['to_ad']:
    if ad in adress:
        index = adress.index(ad)
        to_label.append(label[index])
    else:
        to_label.append(2)
print(len(to_label))

33577

In [19]:
data_final['from_label'] = from_label
data_final['to_label'] = to_label
data_final

,from_ad,to_ad,value,time_inter,fee,count,from_balance,to_balance,from_label,to_label
0,0x000000dddf744faf20df1cebf5f4433707717042,0x0344d3fecda48b181d99a0b7d875d957aa12369c,1.240000e+17,103,7.518000e+15,4,1.473367e+16,0.000000e+00,2,1
1,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x453269958c3cab96ecc57160b7708ae62b9d9503,5.000000e+16,0,1.764000e+14,1,0.000000e+00,0.000000e+00,1,2
2,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x5255af074be641dc059db7d964f3475fe34fee51,7.637857e+17,51960,2.555700e+15,8,0.000000e+00,3.209720e+15,1,2
3,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xa2e5e6478d553cb99ef6d388310aa44ee15fbbee,1.700000e+17,0,5.880000e+14,1,0.000000e+00,1.730000e+11,1,2
4,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xdd2f57b1c90331f8377727e0fcb224429f49c388,6.400000e+16,0,5.040000e+14,1,0.000000e+00,2.800000e+10,1,2
...,...,...,...,...,...,...,...,...,...,...
33572,0xffef21f00db6ecca534cea685711a85edc264ae2,0x6e59a921a269878313129d9c7c7db1718cb0707b,1.132841e+17,0,4.620000e+14,1,0.000000e+00,0.000000e+00,2,1
33573,0xfff243e0e3691536009fbcc66b44808fc57f1b60,0x122c7f492c51c247e293b0f996fa63de61474959,1.750000e+17,0,5.040000e+14,1,5.425211e+15,1.614000e+16,2,1
33574,0xfff61dae75ea96bf8985dd5de0ea3965ffb8c02c,0x645a58a563ab8c94207e8faea54bcb97e02d23c9,6.066975e+15,0,2.310000e+14,1,0.000000e+00,0.000000e+00,2,1
33575,0xfff7f2941f8141850e007ebcc03587c66a6bea11,0x37e30fee740928e8db15d3dafd544baab6b87051,4.286519e+16,0,6.300000e+13,1,0.000000e+00,0.000000e+00,2,1
33576,0xfffd0434d56bb35e8f3c7e337022cfbd370a240c,0x3de08b35c0e7f255f37a5dace9bd8eb78e99e985,1.000000e+17,0,4.410000e+14,1,3.581224e+16,0.000000e+00,2,1

## 计算平均余额：余额之和/该用户总的交易次数

In [20]:
grouped1 = data_final.groupby('from_ad')
address1 = list(grouped1.groups)
count1 = list(grouped1['count'].sum())# 交易次数
from_balance1 = list(grouped1['from_balance'].sum())# 账户余额
from_count = []
from_sum_balance = []
for ad in data_final['from_ad']:
    index = address1.index(ad)
    from_sum_balance.append(from_balance1[index])
    from_count.append(count1[index])
from_avg_balance = list(map(lambda x , y : x / y, from_sum_balance,from_count))
# from_avg_balance

In [21]:
grouped2 = data_final.groupby('to_ad')
address2 = list(grouped2.groups)
count2 = list(grouped2['count'].sum())# 交易次数
to_balance1 = list(grouped1['to_balance'].sum())# 账户余额
to_count = []
to_sum_balance = []
for ad in data_final['to_ad']:
    index = address2.index(ad)
    to_sum_balance.append(to_balance1[index])
    to_count.append(count2[index])
to_avg_balance = list(map(lambda x , y : x / y, to_sum_balance,to_count))

In [22]:
data_final['from_avg_balance'] = from_avg_balance
data_final['to_avg_balance'] = to_avg_balance
data_final['from_count'] = from_count
data_final['to_count'] = to_count
data_final

,from_ad,to_ad,value,time_inter,fee,count,from_balance,to_balance,from_label,to_label,from_avg_balance,to_avg_balance,from_count,to_count
0,0x000000dddf744faf20df1cebf5f4433707717042,0x0344d3fecda48b181d99a0b7d875d957aa12369c,1.240000e+17,103,7.518000e+15,4,1.473367e+16,0.000000e+00,2,1,3.683418e+15,2.308453e+14,4,19
1,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x453269958c3cab96ecc57160b7708ae62b9d9503,5.000000e+16,0,1.764000e+14,1,0.000000e+00,0.000000e+00,1,2,0.000000e+00,0.000000e+00,12,1
2,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x5255af074be641dc059db7d964f3475fe34fee51,7.637857e+17,51960,2.555700e+15,8,0.000000e+00,3.209720e+15,1,2,0.000000e+00,0.000000e+00,12,34
3,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xa2e5e6478d553cb99ef6d388310aa44ee15fbbee,1.700000e+17,0,5.880000e+14,1,0.000000e+00,1.730000e+11,1,2,0.000000e+00,1.948075e+17,12,1
4,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xdd2f57b1c90331f8377727e0fcb224429f49c388,6.400000e+16,0,5.040000e+14,1,0.000000e+00,2.800000e+10,1,2,0.000000e+00,3.900000e+01,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33572,0xffef21f00db6ecca534cea685711a85edc264ae2,0x6e59a921a269878313129d9c7c7db1718cb0707b,1.132841e+17,0,4.620000e+14,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,5.037926e+12,1,23
33573,0xfff243e0e3691536009fbcc66b44808fc57f1b60,0x122c7f492c51c247e293b0f996fa63de61474959,1.750000e+17,0,5.040000e+14,1,5.425211e+15,1.614000e+16,2,1,5.425211e+15,0.000000e+00,1,8
33574,0xfff61dae75ea96bf8985dd5de0ea3965ffb8c02c,0x645a58a563ab8c94207e8faea54bcb97e02d23c9,6.066975e+15,0,2.310000e+14,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,0.000000e+00,1,21
33575,0xfff7f2941f8141850e007ebcc03587c66a6bea11,0x37e30fee740928e8db15d3dafd544baab6b87051,4.286519e+16,0,6.300000e+13,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,1.383854e+08,1,39
33576,0xfffd0434d56bb35e8f3c7e337022cfbd370a240c,0x3de08b35c0e7f255f37a5dace9bd8eb78e99e985,1.000000e+17,0,4.410000e+14,1,3.581224e+16,0.000000e+00,2,1,3.581224e+16,1.538462e+14,1,26

## 计算权重：交易次数/该用户总的交易次数

In [23]:
weigth = []
for i in range(len(to_count)):
    if from_label[i] == 2:
        weigth.append(count[i]/to_count[i])
    if to_label[i] == 2:
        weigth.append(count[i]/from_count[i])
    if from_label[i] != 2 and to_label[i] != 2:
        weigth.append(count[i]/(from_count[i]+to_count[i]))
len(weigth)

33577

In [24]:
data_final['weight'] = weigth
data_final

,from_ad,to_ad,value,time_inter,fee,count,from_balance,to_balance,from_label,to_label,from_avg_balance,to_avg_balance,from_count,to_count,weight
0,0x000000dddf744faf20df1cebf5f4433707717042,0x0344d3fecda48b181d99a0b7d875d957aa12369c,1.240000e+17,103,7.518000e+15,4,1.473367e+16,0.000000e+00,2,1,3.683418e+15,2.308453e+14,4,19,0.210526
1,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x453269958c3cab96ecc57160b7708ae62b9d9503,5.000000e+16,0,1.764000e+14,1,0.000000e+00,0.000000e+00,1,2,0.000000e+00,0.000000e+00,12,1,0.083333
2,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x5255af074be641dc059db7d964f3475fe34fee51,7.637857e+17,51960,2.555700e+15,8,0.000000e+00,3.209720e+15,1,2,0.000000e+00,0.000000e+00,12,34,0.666667
3,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xa2e5e6478d553cb99ef6d388310aa44ee15fbbee,1.700000e+17,0,5.880000e+14,1,0.000000e+00,1.730000e+11,1,2,0.000000e+00,1.948075e+17,12,1,0.083333
4,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xdd2f57b1c90331f8377727e0fcb224429f49c388,6.400000e+16,0,5.040000e+14,1,0.000000e+00,2.800000e+10,1,2,0.000000e+00,3.900000e+01,12,1,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33572,0xffef21f00db6ecca534cea685711a85edc264ae2,0x6e59a921a269878313129d9c7c7db1718cb0707b,1.132841e+17,0,4.620000e+14,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,5.037926e+12,1,23,0.043478
33573,0xfff243e0e3691536009fbcc66b44808fc57f1b60,0x122c7f492c51c247e293b0f996fa63de61474959,1.750000e+17,0,5.040000e+14,1,5.425211e+15,1.614000e+16,2,1,5.425211e+15,0.000000e+00,1,8,0.125000
33574,0xfff61dae75ea96bf8985dd5de0ea3965ffb8c02c,0x645a58a563ab8c94207e8faea54bcb97e02d23c9,6.066975e+15,0,2.310000e+14,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,0.000000e+00,1,21,0.047619
33575,0xfff7f2941f8141850e007ebcc03587c66a6bea11,0x37e30fee740928e8db15d3dafd544baab6b87051,4.286519e+16,0,6.300000e+13,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,1.383854e+08,1,39,0.025641
33576,0xfffd0434d56bb35e8f3c7e337022cfbd370a240c,0x3de08b35c0e7f255f37a5dace9bd8eb78e99e985,1.000000e+17,0,4.410000e+14,1,3.581224e+16,0.000000e+00,2,1,3.581224e+16,1.538462e+14,1,26,0.038462

## 生成ID

### 节点ID

In [25]:
## 节点地址
address = list(from_ad)
address.extend(list(to_ad))
## 节点标签
label = list(from_label)
label.extend(list(to_label))
## 合并节点和标签
nodes = pd.DataFrame(zip(address,label))
nodes.columns = ['address','label']
nodes

                                          address  label
0      0x000000dddf744faf20df1cebf5f4433707717042      2
1      0x00000e32e51011e28958d4696627c82c3dacd5a6      1
2      0x00000e32e51011e28958d4696627c82c3dacd5a6      1
3      0x00000e32e51011e28958d4696627c82c3dacd5a6      1
4      0x00000e32e51011e28958d4696627c82c3dacd5a6      1
...                                           ...    ...
67149  0x6e59a921a269878313129d9c7c7db1718cb0707b      1
67150  0x122c7f492c51c247e293b0f996fa63de61474959      1
67151  0x645a58a563ab8c94207e8faea54bcb97e02d23c9      1
67152  0x37e30fee740928e8db15d3dafd544baab6b87051      1
67153  0x3de08b35c0e7f255f37a5dace9bd8eb78e99e985      1

[67154 rows x 2 columns]

In [26]:
nodes_new = nodes.drop_duplicates(subset=['address','label'])
nodes_new

                                          address  label
0      0x000000dddf744faf20df1cebf5f4433707717042      2
1      0x00000e32e51011e28958d4696627c82c3dacd5a6      1
6      0x00004f827ff296f698f04093ff899233a48fb5c5      2
7      0x0004f896ed610f1d67ded75b3c613df2d3dd13c4      2
8      0x00084fb36725e1b1bd5b0b766bf0a901c53e9ba5      2
...                                           ...    ...
67133  0x5a5b5955e760bdd16377ad1a41c1862b01d7a1f4      2
67134  0x6546454a1c120a7d7a142c6fa9ba9ef5e9b6185c      2
67139  0xc3de9e6b6de0af9051dcb53676589c7bbc1849d8      2
67141  0xd426037bcf28fc4ea3730525ff8b3d2de412257d      2
67143  0xf3ae5d769e153ef72b4e3591ac004e89f48107a1      2

[26142 rows x 2 columns]

In [27]:
import numpy as np
node_id = list(np.arange(1,len(nodes_new)+1))
nodes_new['node_ID'] = node_id
nodes_new

<ipython-input-27-04e43410e644>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nodes_new['node_ID'] = node_id

                                          address  label  node_ID
0      0x000000dddf744faf20df1cebf5f4433707717042      2        1
1      0x00000e32e51011e28958d4696627c82c3dacd5a6      1        2
6      0x00004f827ff296f698f04093ff899233a48fb5c5      2        3
7      0x0004f896ed610f1d67ded75b3c613df2d3dd13c4      2        4
8      0x00084fb36725e1b1bd5b0b766bf0a901c53e9ba5      2        5
...                                           ...    ...      ...
67133  0x5a5b5955e760bdd16377ad1a41c1862b01d7a1f4      2    26138
67134  0x6546454a1c120a7d7a142c6fa9ba9ef5e9b6185c      2    26139
67139  0xc3de9e6b6de0af9051dcb53676589c7bbc1849d8      2    26140
67141  0xd426037bcf28fc4ea3730525ff8b3d2de412257d      2    26141
67143  0xf3ae5d769e153ef72b4e3591ac004e89f48107a1      2    26142

[26142 rows x 3 columns]

In [28]:
nodes_new.to_excel('data_nodes.xlsx')

### 边ID

In [29]:
node_address = list(nodes_new['address'])
node_ID = list(nodes_new['node_ID'])

In [30]:
b = dict(zip(node_address,node_ID))
data_final['from_id']=data_final['from_ad'].map(b) 
data_final['to_id']=data_final['to_ad'].map(b) 
data_final

,from_ad,to_ad,value,time_inter,fee,count,from_balance,to_balance,from_label,to_label,from_avg_balance,to_avg_balance,from_count,to_count,weight,from_id,to_id
0,0x000000dddf744faf20df1cebf5f4433707717042,0x0344d3fecda48b181d99a0b7d875d957aa12369c,1.240000e+17,103,7.518000e+15,4,1.473367e+16,0.000000e+00,2,1,3.683418e+15,2.308453e+14,4,19,0.210526,1,233
1,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x453269958c3cab96ecc57160b7708ae62b9d9503,5.000000e+16,0,1.764000e+14,1,0.000000e+00,0.000000e+00,1,2,0.000000e+00,0.000000e+00,12,1,0.083333,2,16051
2,0x00000e32e51011e28958d4696627c82c3dacd5a6,0x5255af074be641dc059db7d964f3475fe34fee51,7.637857e+17,51960,2.555700e+15,8,0.000000e+00,3.209720e+15,1,2,0.000000e+00,0.000000e+00,12,34,0.666667,2,16052
3,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xa2e5e6478d553cb99ef6d388310aa44ee15fbbee,1.700000e+17,0,5.880000e+14,1,0.000000e+00,1.730000e+11,1,2,0.000000e+00,1.948075e+17,12,1,0.083333,2,16053
4,0x00000e32e51011e28958d4696627c82c3dacd5a6,0xdd2f57b1c90331f8377727e0fcb224429f49c388,6.400000e+16,0,5.040000e+14,1,0.000000e+00,2.800000e+10,1,2,0.000000e+00,3.900000e+01,12,1,0.083333,2,16054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33572,0xffef21f00db6ecca534cea685711a85edc264ae2,0x6e59a921a269878313129d9c7c7db1718cb0707b,1.132841e+17,0,4.620000e+14,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,5.037926e+12,1,23,0.043478,16046,6959
33573,0xfff243e0e3691536009fbcc66b44808fc57f1b60,0x122c7f492c51c247e293b0f996fa63de61474959,1.750000e+17,0,5.040000e+14,1,5.425211e+15,1.614000e+16,2,1,5.425211e+15,0.000000e+00,1,8,0.125000,16047,1135
33574,0xfff61dae75ea96bf8985dd5de0ea3965ffb8c02c,0x645a58a563ab8c94207e8faea54bcb97e02d23c9,6.066975e+15,0,2.310000e+14,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,0.000000e+00,1,21,0.047619,16048,6304
33575,0xfff7f2941f8141850e007ebcc03587c66a6bea11,0x37e30fee740928e8db15d3dafd544baab6b87051,4.286519e+16,0,6.300000e+13,1,0.000000e+00,0.000000e+00,2,1,0.000000e+00,1.383854e+08,1,39,0.025641,16049,3435
33576,0xfffd0434d56bb35e8f3c7e337022cfbd370a240c,0x3de08b35c0e7f255f37a5dace9bd8eb78e99e985,1.000000e+17,0,4.410000e+14,1,3.581224e+16,0.000000e+00,2,1,3.581224e+16,1.538462e+14,1,26,0.038462,16050,3831

In [31]:
data_final.to_excel('data_final.xlsx')